<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>38619348396-17f42qndq5eprp0aqdpi7o37dsgv5vnl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.38619348396-17f42qndq5eprp0aqdpi7o37dsgv5vnl</string>
	<key>API_KEY</key>
	<string>AIzaSyCcW4NqH9F3W1K243bafJc0COtkC4VpKsA</string>
	<key>GCM_SENDER_ID</key>
	<string>38619348396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MattForgacs.streamline</string>
	<key>PROJECT_ID</key>
	<string>streamline-eb485</string>
	<key>STORAGE_BUCKET</key>
	<string>streamline-eb485.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:38619348396:ios:034d378f3a529c9f07ce09</string>
</dict>
</plist>